.page_settings {
    text-align: center;
}

.text_frame {
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    height: 550px;
    font-size: 54px;
    background: white;
    color:black;
    margin: 60px 10rem 30px;
    border-radius: 30px;
    -webkit-transition: 0.8s ease;
}

.main_text {
    font-size: 24px;
    padding-top: 40px;
}


