.account {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    left: 25%;
    width: 50%;
    height: max-content;
    background: white;
    color:black;
    border-radius: 15px;

    padding: 1rem 2rem;
    text-align: center;
}

.account-login {
    padding-top: 0.5rem;
    font-size: 34px;
}

.account-favourite {
    padding: 1rem 2rem;
}

.account-rating {
background-color: black;
    border-radius: 20px;
    color: #FFFFFF;
    cursor: pointer;
    width: max-content;
    padding: 5px;
    text-decoration: none;
}

.cards {
    display: flex;
    flex-direction: row;

}

.cards-center {
    padding: 2rem 2rem 0;
}

.rating {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    left: 35%;
    width: 30%;
    height: max-content;
    background: white;
    color:black;
    border-radius: 15px;
    padding: 1rem 2rem;
    text-align: center;

}
