.registration {
    margin-left: 2rem;
    position: relative;
    width: 280px;
    height: 280px;
    min-width: 250px;
    border-radius: 16px;
    box-shadow: -1rem 0 3rem #000;
    padding: 1.5rem;
    background-color: #ffffff;
    transition: transform 0.3s;

}

.error-password {
    border-radius: 20px;
    background-color: #ec1c1c;
    color: #FFFFFF;
    font-size: 15px;
}
