* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

html {
  background-attachment: fixed;
  background-image: url("../public/back.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.body {
  /*min-height: 730px;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  /*background-attachment: fixed;*/
  /*background-image: url("../public/back.jpg");*/
  /*background-repeat: no-repeat;*/
  /*background-position: center;*/
  /*background-size: cover;*/
  display: flex;
  flex-direction: column;
  position: relative;
}

.back {
  height: 100vh;
  background-size: cover;
  /*background-attachment: fixed;*/



  /*-webkit-background-size: cover;*/
  /*-moz-background-size: cover;*/
  /*-o-background-size: cover;*/
  /*background-size: cover;*/
}

.App-header {
  position: relative;
  /*width: 1019px;*/
  height: 242px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 128px;
  line-height: 150px;
  text-align: center;

  color: #FFFFFF;

  mix-blend-mode: normal;
  opacity: 0.8;
}

.menu {
  display: flex;
  flex-direction: row;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;


}

.menu_title {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 42px;
  -webkit-transition: 0.5s ease;
  opacity: 70%;



  color: #FFFFFF;
}
.menu_title:hover {
  font-size: 28px;
  opacity: 100%;
  transition-duration: 0.5s
}


.menu-icon {
  background-image: url("../public/menu.png");
  /*background-position: 0 -6px;*/
  background-repeat: no-repeat;
  height: 75px;
  width: 65px;
  padding-top: 10px;
  margin-left: 10px;
  -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 1s;
  /*transition: width 2s, height 2s, background-color 2s, transform 2s;*/
}

.menu-icon-active {
  /*background-image: url("./menu_open_active.png " );*/
  cursor: pointer;
  -webkit-transform: rotate(180deg);
  transition-duration: 0.5s
}

.body_nav {
  display: flex;
  /*flex-direction: row;*/
  flex: 0 0 auto;
  justify-content: space-between;
}

.menu_title_links {
  float: right;
  display: block;
  /*text-align: center;*/
  padding: 14px 20px;
  margin-top: 3px;


  font-size: 24px;
  line-height: 42px;
  -webkit-transition: 0.5s ease;
  opacity: 70%;

}

.github {
  background-image: url("./github-logo.png");
  background-repeat: no-repeat;
  margin-left: 10px;
}
.twitter {
  background-image: url("./twitter.png");
  background-repeat: no-repeat;
}

.inst {
  background-image: url("./instagram.png");
  background-repeat: no-repeat;
}

.tele {
  background-image: url("./telegram.png");
  background-repeat: no-repeat;
}

.vk {
  background-image: url("./vk.png");
  background-repeat: no-repeat;
}

.github:hover,
.twitter:hover,
.vk:hover,
.inst:hover,
.tele:hover {
  opacity: 100%;
  transition-duration: 0.5s
}


.menu_links {
  background: #C4C4C4;
  opacity: 40%;
  height: 40px;

}

.footer {
  flex: 0 0 auto;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding-bottom: 5px;
}

.main_content {
  flex: 1 0 auto;
  display: block;
}


@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}


.menu-not-visible {
  opacity: 0;
}
